html {
    font-family: 'Tahoma', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
}

body {
    color: #eee;
    background-color: #333;
    margin: 0px;
    padding: 30px 0px 30px 0px;
}

div#header {
    font-size: 32px;
    padding: 30px 0px 24px 0px;
    text-align: center;
}

div#main {
    background-color: #555;
    margin: 0px auto 0px auto;
    padding: 24px 24px 12px 24px;
    width: 100%;
    width: 800px;
}

div#content {
}

div#banner {
    font-size: 48px;
    margin: 12px 0px 24px 0px;
    text-align: center;
}

div#progress {
    font-size: 18px;
    margin: 12px 0px 12px 0px;
    text-align: center;
}

form#login {
    font-size: 18px;
    text-align: center;
}

form#login input {
    background-color: #444;
    border: solid 1px #777;
    color: #eee;
    font-size: 18px;
    margin: 0px 6px 0px 6px;
    padding: 3px 6px 3px 6px;
}

form#login input#login-submit {
    color: #a6ec9b;
}

div#map {
    border: 1px solid #333;
    display: none;
    height: 480px;
    margin: 24px 0px 12px 0px;
    width: 800px;
}

div#info {
    clear: both;
    display: none;
    margin: 0px 0px 12px 0px;
}

div#info p {
    margin: 0px;
    padding: 0px;
}

div#info a {
    color: #a6ec9b;
    font-weight: bold;
    text-decoration: none;
}

div.clear {
    clear: both;
}

div#info img.avatar {
    border: 1px solid #333;
    float: left;
    margin: 0px 12px 12px 0px;
}

div#footer {
    color: #888;
    font-size: 14px;
    padding: 24px 0px 30px 0px;
    text-align: center;
}
