html {
    color: #222;
    font-family: 'Tahoma', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
}

body {
    background-color: #ccc;
    margin: 0px;
    padding: 60px 0px 60px 0px;
}

div#header {
    font-size: 32px;
    padding: 30px 0px 24px 0px;
    text-align: center;
}

div#main {
    background-color: #145;
    width: 100%;
}

div#content {
    width: 800px;
    margin: 0px auto 0px auto;
    padding: 24px 0px 24px 0px;
    color: #fff;
}

div#banner {
    font-size: 48px;
    margin: 12px 0px 24px 0px;
    text-align: center;
}

form#login {
    font-size: 18px;
    text-align: center;
}

form#login input {
    background-color: #367;
    border: 1px solid #888;
    color: #fff;
    font-size: 18px;
    margin: 0px 6px 0px 6px;
    padding: 3px 6px 3px 6px;
}

div#map {
    border: 2px solid #333;
    height: 480px;
    margin: 24px 0px 12px 0px;
    width: 800px;
}

div#info {
    display: none;
    margin: 24px 0px 12px 0px;
}

div#info a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

div#info img.avatar {
    border: 2px solid #333;
    float: left;
    margin: 0px 12px 12px 0px;
}

div#footer {
    font-size: 14px;
    padding: 24px 0px 30px 0px;
    text-align: center;
}
